{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1> 
    <div class="content-section">
	    <p>Students enrolled in COP 4521 this semester are required to develop a project on Python web
		application development. The goal of this project is to create a web application that displays
		news from the Hacker News portal. The project has to feature pages for Sign Up/Login, News
		Feed, Profile, and Admin. Every news item on the news page will include a Like and Dislike
		button. Users have the option to like or dislike a news item, and the most popular items are
		displayed at the top of the news feed. The Auth0 platform should validate each user's identity.
	    </p>


    </div>
{% endblock content %}
